{% set url = path("voiture_show",{'slug':voiture.slug}) %}


<div class="col-md-3 text-black">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center bg-primary text-white">
                   
                        
                        <h3>{{voiture.Marque.nom}}</h3>
                            
                    
                        
                    </div>
                    <img src="images/cover/{{voiture.cover}}" class=" mx-auto d-block" width="100%" height="200" alt="Image de la voiture" class="starsimg">
                    <div class="card-body">
                        <div class="card-title text-center">
                            modele : <h4>{{voiture.modele}}</h4>
                        </div>
                        <p class="card-text ">
                            <p>KM :{{voiture.km}}</p>
                            <p>Puissance : {{voiture.puissance}}</p>
                            <p>Année : {{voiture.anneeCircul| date('d/m/Y')}}</p>
                            <p>Prix : {{voiture.prix}} €</p>
                        </p>
                        <div class="text-center">
                        <a href="{{url}}" class="btn btn-primary">Découvrire la voiture</a>
                        </div>
                    </div>
                </div>