{% extends "base.html.twig" %}

{% block title %}Modification de l'annonce : {{voitures.modele}}{% endblock %}

{# {% form_theme myform 'bootstrap_5_layout.html.twig' %} #}
{% form_theme form 'voitures/collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modification de l'annonce : {{voitures.modele}}</h1>
        {{form_start(form)}}
            <div class="container">
                <div>
                    {{form_widget(form)}}
                </div>
            </div>
            <button type="submit" class="btn btn-warning mt-3">Modifier</button>
        {{form_end(form)}}
    </div>
{% endblock %}

{% block javascripts %}
   {# {{encore_entry_script_tags('annonce')}} #}
{% endblock %}